@import url("https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800&display=swap");

body {
    display: flex;
    flex-direction: column;

    justify-content: center;

    font-family: Nunito, Arial;
    text-align: center;
    margin: 0 20%;
}

main {
    margin: 15em 0;
}

div.navigation h3 {
    padding: 0;
    margin: 0;
}

button {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10em;

    font-family: Nunito, Arial;
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;

    color: white;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

button img {
    margin-right: 5px;
}

div.navigation {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
}

div.location {
    border: 1px;
}

section.hook div.reasons {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(calc(30ch - 2em), 1fr));
    gap: 1em;

    align-items: center;
}

div.reason {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 210px 210px 24px 24px;
    height: 100%;
}

div.reason p {
    padding: 0 1em;
}

div.icon-space {
    padding: 3em;
    border-radius: 210px 210px 24px 24px;
}

div.more-reasons {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 150px;
    margin-top: 150px;
    justify-content: center;
}

section.location {
    display: flex;

    align-items: center;
}

section.location img {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
}

section.know {
    display: flex;

    align-items: center;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
